﻿@page "/admin/products/edit/{id:int}"
@attribute [Authorize(Roles = "Administrator")]

<h3>Edit Product</h3>
@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

<EditProductForm ButtonText="Update" Product="Product" OnValidSubmit="@EditProduct" />
