﻿@page "/admin/products"

@attribute [Authorize(Roles = "Administrator")]

<h3>Product Management</h3>

@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

@if (Products == null)
{
    <p>Loading Data...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                    Category
                </th>
                <th>
                    Remaining
                </th>
                <th>
                    State
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {
                <tr>
                    <td>@product.Id </td>
                    <td>@product.Name </td>
                    <td>@product.Description </td>
                    <td>@product.Price </td>
                    <td>@product.Category?.Name </td>
                    <td>@product.Remaining </td>
                    <td>@if (product.Remaining < 0)
                        {
                            <span class="text-danger">Out of stock</span>
                        }
                        else
                        {
                            <span class="text-success">Goods in stock</span>
                        }
                    </td>
                    <td>
                        <button @onclick="@(() => EditProduct(product.Id))" class="btn btn-warning">Edit</button>
                        <button @onclick="@(() => DeleteProduct(product.Id))" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}