﻿@page "/orders/cart"
@inject IJSRuntime JSRuntime
@inject NavigationManager _navigation

<h3>Cart</h3>

@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    @if (CartModel != null)
    {
        <div class="card">
            <div class="card-header">
                <h2>Shopping Cart</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr>
                                <!-- Set columns width -->
                                <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                                <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                                <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                                <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                                <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (CartModel.OrderDetails != null)
                            {
                                @foreach (var item in CartModel.OrderDetails)
                                {
                                    <tr>
                                        <td class="p-4">
                                            <div class="media align-items-center">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                                <div class="media-body">
                                                    <a href="#" class="d-block text-dark">@item.Product.Name</a>
                                                    <small>
                                                        <span class="ui-product-color ui-product-color-sm align-text-bottom" style="background:#e81e2c;"></span> &nbsp;
                                                        <span class="text-muted">@item.Product.Description </span>
                                                        <span class="text-muted">@item.Product.Category.Name </span>
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right font-weight-semibold align-middle p-4">$@item.Product.Price</td>
                                        <td class="align-middle p-4">
                                            <input type="number" class="form-control text-center" id="productQuantity" value="@item.Quantity">
                                        </td>
                                        <td class="text-right font-weight-semibold align-middle p-4">$@item.Amount</td>
                                        <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                </table>
            </div>
            <!-- / Shopping cart table -->

            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                <div class="mt-4">
                </div>
                <div class="d-flex">
                    <div class="text-right mt-4">
                        <label class="text-muted font-weight-normal m-0">Total price</label>
                        <div class="text-large"><strong>$@CartModel.TotalPrice</strong></div>
                    </div>
                </div>
            </div>

            <div class="float-right">
                <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3" @onclick="@(() =>_navigation.NavigateTo("/products/"))">Back to shopping</button>
                <button type="button" class="btn btn-lg btn-primary mt-2" @onclick="@(() => HandleOrder())">Submit</button>
            </div>

        </div>
    </div>
    }
</div>
