﻿@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to your new app.</h1>


<AuthorizeView>
    <Authorized>
        <button class="btn btn-danger" @onclick="Logout">Logout</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-success" @onclick="GoToLogin">Login</button>
        @*        ||
        <button class="btn btn-primary" @onclick="GoToRegister">Register</button>*@
    </NotAuthorized>
</AuthorizeView>

