﻿@page "/login"

<h3>Login</h3>

@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@Model" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label class="control-label">Email</label>
                <InputText id="userName" class="form-control" @bind-Value="@Model.UserName"></InputText>
                <ValidationMessage For="@(() => Model.UserName)" />
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <InputText type="password" id="password" class="form-control" @bind-Value="@Model.Password"></InputText>
                <ValidationMessage For="@(() => Model.Password)" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </EditForm>
    </div>
</div>