﻿<EditForm Model="@Product" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Name:</label>
            <div>
                <InputText @bind-Value="@Product.Name" class="form-control" />
                <ValidationMessage For="@(() => Product.Name)" />
            </div>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <div>
                <InputText @bind-Value="@Product.Description" class="form-control" />
                <ValidationMessage For="@(() => Product.Description)" />
            </div>
        </div>
        <div class="form-group">
            <label>Price:</label>
            <div>
                <InputNumber @bind-Value="@Product.Price" class="form-control" />
                <ValidationMessage For="@(() => Product.Price)" />
            </div>
        </div>
        <div class="form-group">
            <label>Remaining:</label>
            <div>
                <InputNumber @bind-Value="@Product.Remaining" class="form-control" />
                <ValidationMessage For="@(() => Product.Remaining)" />
            </div>
        </div>
    </fieldset>
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="/admin/products" />
</EditForm>


