﻿@page "/products/"

<h3>Products</h3>

@if(!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-warning">@Message</div>
}

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">

        <div class="col-md-8">

            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" @bind="SearchQuery" class="form-control" placeholder="seach product...">
                <button class="btn btn-primary" @onclick="@(() => Search())">Search</button>
            </div>

        </div>

    </div>
</div>

@if(Products == null)
{
    <p>Loading data...</p>
}
else
{
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @foreach(var product in Products) {
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@product.Name</h5>
                                        <!-- Product reviews-->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            @for(int i = 0; i < product.Rating; i++)
                                            {
                                                <div class="bi-star-fill"></div>
                                            }
                                        </div>
                                        <!-- Product price-->
                                        $@product.Price
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                @if (product.Remaining > 0)
                                {
                                    <div class="text-center"><a @onclick="@(() => AddToCartAsync(product))" class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                                } 
                                else
                                {
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto disabled" href="#">Out of stock</a></div>
                                }
                            </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
}
